@charset "UTF-8";

/* 全体 */
html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  background-color: #fff;
  color: #707070;
}

.__inner {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
  padding: 5% 0;
}

/* ヘッダー */
.header-wrap {
  position: fixed;
  max-width: 1400px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 40%);
  border-radius: 15px;
  top: 10%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 2;
}

.header-wrap__logo {
  width: 17.5%;
  padding-left: 32.5px;
}

.header-wrap__logo a {
  transition: all 0.3s;
}

.header-wrap__logo a:hover {
  opacity: 0.7;
}

.header-wrap__logo a img {
  display: block;
  width: 100%;
  height: 100%;
}

.header-wrap__nav {
  width: 62.5%;
}

.header-wrap__nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrap__nav__list__item a {
  position: relative;
  text-decoration: unset;
  color: #707070;
  font-weight: 500;
}

.header-wrap__nav__list__item a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #fde67d;
  bottom: 4px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.header-wrap__nav__list__item__contact a {
  position: relative;
  text-decoration: unset;
  display: block;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  background-color: #52b567;
  padding: 8.5% 32.5px;
  border-radius: 0 15px 15px 0;
  transition: all 0.3s;
}

.header-wrap__nav__list__item__contact a:hover {
  background-color: #fde67d;
  color: #707070;
}

/* タイトル */
.ttl {
  position: relative;
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.15;
}

.ttl__sub {
  display: block;
  font-size: 1.25rem;
  font-weight: 400;
  color: #52b567;
}

.f-ttl {
  position: relative;
  color: #fff;
  font-size: 2rem;
}

.f-ttl::after {
  position: absolute;
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #fff;
  bottom: 1rem;
  left: 15rem;
}

.g-ttl {
  font-size: 2rem;
}

.g-ttl {
  font-size: 2rem;
}

.g-ttl::after {
  position: absolute;
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #707070;
  bottom: 1rem;
  left: 12.5rem;
}


/* ボタン */
.btn {
  width: 17.5rem;
  margin-top: 2.5rem;
}

.btn a {
  display: block;
  width: 100%;
  text-decoration: unset;
  text-align: center;
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 500;
  background-color: #52b567;
  border: solid 2.5px #52b567;
  border-radius: 50px;
  color: #fff;
  line-height: 3.75;
  box-shadow: 4px 3px 7px rgb(0 0 0 / 40%);
  transition: all 0.3s;
}

.btn a:hover {
  background-color: #fff;
  color: #52b567;
  border: solid 2.5px #52b567;
}

  /* 右よせ、緑ボタン */
.f-btn {
  margin-left: auto;
}

.f-btn a {
  background-color: #fff;
  border: solid 2.5px #fff;
  color: #52b567;
}

.f-btn a:hover {
  background-color: #52b567;
  color: #fff;
  border: solid 2.5px #fff;
}

  /* 右よせ */
.r-btn {
  margin-left: auto;
}

  /* 中央よせ */
.c-btn {
  margin-left: auto;
  margin-right: auto;
}


/* フッター */
.footer {
  background-color: #52b567;
  padding: 1.5% 3.5%;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-wrap__left {
  width: 50%;
  margin: 1.5%;
}

.footer-wrap__left__logo {
  width: 50%;
}

.footer-wrap__left__logo a {
  transition: all 0.3s;
}

.footer-wrap__left__logo a:hover {
  opacity: 0.7;
}

.footer-wrap__left__logo a img {
  width: 100%;
  height: auto;
}

.footer-wrap__left__add {
  margin: 2.5% 0;
}

.footer-wrap__left__add p {
  color: #fff;
}

.footer-wrap__left__res {
  display: flex;
  justify-content: space-between;
  margin: 2.5% 0;
  padding: 3.5%;
  border-top: solid #fff 1.5px;
  border-bottom: solid #fff 1.5px;
  text-align: center;
}

.footer-wrap__left__res__web {
  width: 50%;
  margin-right: 1%;
}

.footer-wrap__left__res__web a {
  width: 100%;
  height: 100%;
  background-color: #fde67d;
  border: solid 2.5px #fde67d;
  color: #707070;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.5rem;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-wrap__left__res__web a:hover {
  background-color: #fff;
  color: #52b567;
  border: solid 2.5px #fff;
}

.footer-wrap__left__res__web a p {
  font-size: 1.5rem;
  font-weight: 500;
}

.footer-wrap__left__res__tel {
  width: 50%;
  margin-left: 1%;
}

.footer-wrap__left__res__tel p:nth-of-type(1) {
  margin-bottom: 1.5%;
  font-weight: 500;
  color: #fff;
}

.footer-wrap__left__res__tel p:nth-of-type(2) {
  font-size: 0.75rem;
  color: #fff;
}

.footer-wrap__left__res__tel a {
  display: block;
  margin-bottom: 1.5%;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  transition: all 0.3s;
}

.footer-wrap__left__res__tel a:hover {
  transform: scale(1.05);
}

.footer-wrap__left__res__tel a i {
  margin-right: 2.5%;
}

.footer-wrap__left__cal table {
  width: 100%;
}

.footer-wrap__left__cal table tr:nth-of-type(1) {
  background-color: #e5f4e9;
}

.footer-wrap__left__cal table tr:nth-of-type(2),
.footer-wrap__left__cal table tr:nth-of-type(3) {
  background-color: #fff;
  border-bottom: solid 1px #ccc;
}

.footer-wrap__left__cal table tr th {
  padding: 12.5px;
}

.footer-wrap__left__cal table tr td {
  padding: 12.5px;
}

.footer-wrap__right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 1.5%;
}

.footer-wrap__right__list {
  margin: 0 5%;
}

.footer-wrap__right__list__item {
  margin: 12.5% 0;
  color: #fff;
}

.footer-wrap__right__list__item a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s all;
}

.footer-wrap__right__list__item a:hover {
  opacity: 0.7;
}

.footer-wrap__right__list__item__sub {
  list-style: none;
}

.footer-wrap__right__list__item__sub__item {
  margin: 7.5% 0;
  font-size: 0.9rem;
}

.footer-copyright p {
  color: #fff;
  text-align: right;
}

/* hr */
hr {
  border-top: dotted 2.5px #707070;
  margin: 3.5% 0;
}