@charset "UTF-8";

.top {
  background-image: url("../img/n-fv__bg.png");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}

.news {
  background-color: #e5f4e9;
}

.news-wrap {
  margin-top: 5%;
}

.news-wrap__ttl {
  text-align: center;
}

.news-wrap__body {
  margin-top: 3.5%;
}

.news-wrap__body__list {
  width: 80%;
  margin: 0 auto;
}

.news-wrap__body__list__item {
  background-color: #fff;
  border-radius: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75% 3.5%;
  margin: 1.5%;
  list-style: none;
}

.news-wrap__body__list__item span {
  width: 25%;
  font-size: 1.15rem;
  color: #52b567;
  font-weight: 500;
}

.news-wrap__body__list__item p {
  width: 75%;
}

.news-wrap__body__num {
  display: flex;
  justify-content: center;
}

.news-wrap__body__num__item {
  margin: 3.5% 0.5% 0 0.5%;
  list-style: none;
}

.news-wrap__body__num__item a {
  text-decoration: none;
  background-color: #fff;
  border: solid 1.5px #fff;
  color: #707070;
  font-weight: 500;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 3px 7px rgb(0 0 0 / 40%);
  transition: all 0.3s;
}

.news-wrap__body__num__item a:hover {
  background-color: #fff;
  color: #52b567;
  border: solid 1.5px #52b567;
}